/* mobile-device */

@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
  }
  nav {
    margin: 20px;
  }
  .hide {
    display: none;
  }
  .banner-left {
    margin: 16px;
  }
  .plants-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
    justify-items: center;
    place-items: center;
  }

  .btn {
    padding: 19px 30px;
    width: 100%;
  }

  /* plants lover */
  .plants-lover-parent {
    gap: 10px;
    margin-top: 20px;
  }
  .img-1 {
    display: none;
  }
  .plants-lover-parent {
    flex-direction: column;
  }
  .plants-left {
    padding: 20px;
  }
  .plants-right {
    padding: 20px;
    width: 100%;
    align-items: center;
  }

  /* deal */
  .deal-parent {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
  .deal-parent .image-left-1,
  .deal-parent .image-left-2,
  .deal-parent .image-right {
    width: 100%;
  }
  .deal-parent .image-right {
    height: 200px;
  }
  .image-right h3 {
    font-size: 1.5rem;
  }
  .image-right .topu {
    font-size: 1.2rem;
  }
}
