/* common CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.max-width {
  max-width: 1140px;
  margin: 0px auto;
}

.common-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}
.common-title h2 {
  font-size: 3.1rem;
  font-weight: 700;
  color: #000000;
}
.common-title span {
  color: #e95a08;
}
.common-title p {
  margin-top: 16px;
  font-size: 1.45rem;
  color: #00000080;
}
/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #252432;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.banner h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.banner span {
  color: #e95a08;
}
.banner p {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.banner img {
  width: 100%;
}

/* Plants card */
.plants-container-parent {
  margin-top: 50px;
}
.plants-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.plants-card img {
  width: 100%;
}
.plants-card h4 {
  font-size: 1.45rem;
  font-weight: 500;
  color: #111111;
  margin-top: 20px;
}
.plants-card h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
  width: 270px;
}
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
