/* common CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.max-width {
  max-width: 1140px;
  margin: 0px auto;
}

.common-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}
.common-title h2 {
  font-size: 3.1rem;
  font-weight: 700;
  color: #000000;
}
.common-title span {
  color: #e95a08;
}
.common-title p {
  margin-top: 16px;
  font-size: 1.45rem;
  color: #00000080;
}
/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  color: #252432;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.banner h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.banner span {
  color: #e95a08;
}
.banner p {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.banner img {
  width: 100%;
}

/* Plants card */
.plants-container-parent {
  margin-top: 50px;
}
.plants-card {
  display: flex;
  text-align: center;
}
.plants-card img {
  width: 100%;
}
.plants-card h4 {
  font-size: 1.45rem;
  font-weight: 500;
  color: #111111;
  margin-top: 20px;
}
.plants-card h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
  width: 270px;
}
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* plants lover style */

.plants-lover-parent {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  margin-top: 220px;
}
.plants-left {
  position: relative;
}
.plants-left .img-1 {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -130px;
  right: -100px;
}

.plants-left img {
  width: 100%;
}

.plants-right {
  padding: 20px;
  width: 540px;
  align-items: center;
}
.plants-right h2 {
  font-size: 3.15rem;
  font-weight: 700;
  color: #000000;
}
.plants-right ul {
  padding-left: 25px;
  font-size: 1.456rem;
  font-weight: 500;
  color: #00000080;
  margin-top: 20px;
}
.plants-right ul li {
  margin-bottom: 20px;
}

/* Deal style */

.deal-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
}
.image-left {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.deal-parent .image-left-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/deal-bloom.png);

  height: 205px;
  width: 366px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.deal-parent .image-left-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/deal-ana.png);

  height: 205px;
  width: 366px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.deal-parent .image-right {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/deal-zabo.png);

  height: 423px;
  width: 753px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.image-left-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.deal-parent p {
  font-size: 1.255rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.deal-parent span {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.255rem;
  display: inline-block;
  border-bottom: 2px solid #ffffff;
}

.image-right h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.54rem;
  margin-bottom: 10px;
}
.image-right .topu {
  font-size: 1.8rem;
}

/* join style */
.join-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/news-letter-bg.png);
  height: 533px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.join-container h3 {
  font-size: 3.16rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.sub-input input {
  width: 644px;
  color: #00000080;
  padding: 19px 20px;
}
.sub-input {
  display: flex;
  align-items: center;
}

.join-container .sub-input .btn-2 {
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 53px;
  border: none;
}
